<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="nav-front">
    <a class="navbar-brand " href="/">Bank App</a>
    <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto">


        </ul>
        <ul class="float -right navbar-nav" th:if="${principal == null}">
            <li class="nav-item active" >
                <a class="nav-link" th:href="@{/account}" >Create Account</a>
            </li>
            <li class="nav-item active" >
                <a class="nav-link" th:href="@{/login}" >Login</a>
            </li>
        </ul>

        <form th:if="${principal !=null}" method="post" th:action="@{/logout}">
            <span class="text-white" th:text="${'Hi '+loggedinuser.username.substring(0,1).toUpperCase() +loggedinuser.username.substring(1)}"></span>
            <button class="btn btn-secondary">Logout</button>
        </form>


    </div>
</nav>

