<div class="col-3" th:fragment="quickhome">

    <h3 class="display-4">Get Started</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/" class="nav-link" > Home Page</a>
        </li>
        <li class="list-group-item">
            <a href="/accountdetails" class="nav-link" > Account Details</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" th:href="@{/account}" >Create Account</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" th:href="@{/login}" >Login</a>
        </li>
        <li><p ></p></li>
    </ul>

</div>