<html>
<body>
<div class="menu col-3" th:fragment="quickaction">

    <h3 class="display-4">Quick Action</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/accountdetails" class="nav-link" > Account Details</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/accountdetails/deposit/{id}(id=${loggedinuser.id})}" class="nav-link" >Deposit</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/accountdetails/withdraw/{id}(id=${loggedinuser.id})}" class="nav-link">Withdraw</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/accountdetails/operations/{id}(id=${loggedinuser.id})}" class="nav-link">Operation</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/accountdetails/standingorders/{id}(id=${loggedinuser.id})}" class="nav-link">Standing Orders</a>
        </li>
    </ul>

</div>
</body>
</html>