<!doctype html>
<html lang="en">
<head th:replace="/fragments/head"></head>
<body>

<header>
    <nav th:replace="/fragments/nav ::nav-front"></nav>
</header>
<div class="container-fluid mt-5">
    <div class="row">
        <div th:replace="/fragments/quickaction"></div>
        <div class="col"></div>
        <div class="col-8">
            <h2 class="display-3 mb-5" th:text="'Withdraw Money '"></h2>
            <div class="row">
                <div class="col-4">
                    <h6>Your current balance: </h6>

                    <h6 class="display-6" th:with="formattedTotal=${loggedinuser.balance}"
                        th:text="'₹ '+${#numbers.formatDecimal(formattedTotal,1,'COMMA',2,'POINT')}"></h6>

                </div>
                <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
                <form method="post" th:object="${user}" th:action="@{/accountdetails/withdraw/{id}(id=${loggedinuser.id})}">



                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        Amount is not applicable
                    </div>
                    <div class="form-group">
                        <label for="">Amount to be withdrawn :</label>
                        <input type="number" class="form-control" th:field="*{balance}" placeholder="Amount">
                        <span class="error" th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}"></span>
                    </div>
                    <input type="hidden" th:field="*{id}" th:value="${loggedinuser.id}">
                    <input type="hidden" th:value="${loggedinuser.username}" th:id="username" th:name="username" >

                    <button class="btn btn-danger mt-5">Withdraw</button>


                </form>
            </div>
        </div>
    </div>
</div>
        <div th:replace="/fragments/footer"></div>
</body>
</html>
